<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>คนอะไรเป็นแฟนหมี</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body index clearfix">
  <div class="nav clearfix">
    <a href="index.html" class="nav-item button clearfix">
      <img class="button-img" alt="หน้าแรก" src="images/home-48.png">
    </a>
    <a href="#" class="nav-item nav-item-2">บทความ</a>
    <a class="nav-item nav-item-3" href="#">เรื่องราว</a>
    <a class="nav-item nav-item-4" href="#">สร้างการ์ตูน</a>
    <div class="nav-right clearfix">
      <a class="nav-item" href="#">ลงทะเบียน</a>
      <a class="nav-item" href="#">เข้าสู่ระบบ</a>
    </div>
  </div>
  <div class="header clearfix">
    <div class="wrapper clearfix">
      <div class="content">
        <div class="logo">
          <img class="_image" src="images/Sketch2643367.png">
        </div>
        <div class="headertext clearfix">
          <h1 class="title">คนอะไรเป็นแฟนหมี</h1>
          <h2 class="subtitle">เรื่องราวชีวิตคู่ เวิ่น ๆ
ของคนที่รักหมี</h2>
        </div>
      </div>
    </div>
  </div>
  <div id="adv1" class="adv-bar clearfix">
    <a href="#" class="adv-link clearfix">
      <img class="adv-image" src="images/10635997_590313084414010_6256719112076863183_n.jpg">
    </a>
  </div>
  <div class="content content-2"></div>
  <div class="sidebar"></div>
</body>
</html>