<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>cartoons</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/cartoons-grid.css">
  <link rel="stylesheet" href="css/cartoons.css">
</head>
<body class="body cartoons clearfix">
  <div class="nav clearfix">
    <a href="index.html" class="nav-item button clearfix">
      <img class="button-img" alt="หน้าแรก" src="images/home-48.png">
    </a>
    <a href="#" class="nav-item nav-item-2">บทความ</a>
    <a class="nav-item nav-item-3" href="#">เรื่องราว</a>
    <a href="cartoons.html" class="nav-item nav-item-4">การ์ตูน</a>
    <a class="nav-item nav-item-5" href="#">สร้างการ์ตูน</a>
    <div class="nav-right clearfix">
      <a class="nav-item" href="#">ลงทะเบียน</a>
      <a class="nav-item" href="#">เข้าสู่ระบบ</a>
    </div>
  </div>
  <div class="header clearfix">
    <div class="wrapper clearfix">
      <div class="content">
        <div class="logo">
          <img class="_image" src="images/Sketch2643367.png">
        </div>
        <div class="headertext clearfix">
          <h1 class="title">คนอะไรเป็นแฟนหมี</h1>
          <h2 class="subtitle">เรื่องราวชีวิตคู่ เวิ่น ๆ
ของคนที่รักหมี</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content content-2 clearfix">
    <div class="post-item clearfix">
      <h2 class="post-item-title">นั่งเฝ้าดูหมีกิน</h2>
      <div class="post-item-infobar clearfix">
        <div class="post-item-profile-pic">
          <img class="_image _image-2" src="images/profilepicsmall.jpg">
        </div>
        <span class="post-item-owner">ThisBomb</span>
        <div class="post-item-infobar-spectator"></div>
        <div class="post-item-time clearfix">
          <span class="_text">เมื่อวานก่อน</span>
        </div>
      </div>
      <img class="post-item-contentpic post-item-contentpic-1" src="images/10710815_601527346625917_7680853728705594621_n.jpg">
      <div class="post-item-likebtn post-item-likebtn-1 clearfix">
        <img class="image" src="images/thumb-up_64.png">
      </div>
      <div class="post-item-likecount post-item-likecount-1 clearfix">
        <span class="_text _text-2">13        </span>
      </div>
    </div>
    <div class="post-item post-item-2 clearfix">
      <h2 class="post-item-title">เนี่ยแหล่ะที่คอยให้กำลังใจ</h2>
      <div class="post-item-infobar clearfix">
        <div class="post-item-profile-pic">
          <img class="_image _image-3" src="images/profilepicsmall.jpg">
        </div>
        <span class="post-item-owner">ThisBomb</span>
        <div class="post-item-infobar-spectator"></div>
        <div class="post-item-time clearfix">
          <span class="_text">2 วันก่อน</span>
        </div>
      </div>
      <img class="post-item-contentpic post-item-contentpic-2" src="images/10534630_601058643339454_7851416848481355807_n.jpg">
      <div class="post-item-likebtn post-item-likebtn-2 clearfix">
        <img class="image" src="images/thumb-up_64.png">
      </div>
      <div class="post-item-likecount post-item-likecount-2 clearfix">
        <span class="_text">50</span>
      </div>
    </div>
  </div>
  <div class="sidebar"></div>
</body>
</html>